@page "/account/changepassword/{*ReturnUrl}"
@attribute [Authorize]

@inject HttpClient Http
@inject ExamineService _examineService
@inject ILocalStorageService _localStorage
@inject ToastService? ToastService
@inject IAppHelper _appHelper
@inject NavigationManager NavigationManager
@inject IAuthService AuthService

@inject IJSRuntime JS

<Title Text="SDAlliance_软萌"></Title>


@if (isReady == false)
{
    <SecondAuthenticationCheckTip ReturnUrl="@ReturnUrl" OnPassed="OnPassed"></SecondAuthenticationCheckTip>
}
else
{

    <div class="rounded  rounded shadow  bg-opacity  p-3 ">

        <h3 class="mb-4 text-center">请输入新密码</h3>
        <ValidateForm Model="@Model" OnValidSubmit="ConfirmPassword" ValidateAllProperties="true" class="form-group  mb-0">

            <div class="row">
                <div class="form-group col-12  col-sm-12">
                    <BootstrapInput @bind-Value="Model.Password" type="password" />
                </div>
                <div class="form-group col-12  col-sm-12">
                    <BootstrapInput @bind-Value="Model.ConfirmPassword" type="password" />
                </div>
                <div class="form-group col-12">
                    <Button Color="Color.Primary" ButtonType="ButtonType.Submit" IsAsync="true" style="width:100%">确定</Button>
                </div>

            </div>
        </ValidateForm>
    </div>

}
@code {
    [Parameter]
    public string ReturnUrl { get; set; }


    private ChangeUserPasswordModel Model = new ChangeUserPasswordModel();

    bool isReady = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    private Task OnPassed()
    {
        isReady = true;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task ConfirmPassword(EditContext context)
    {
        try
        {
            var authState = await authenticationStateTask;
            var user = authState.User;

            Model.UserName = user.Identity.Name;
            Model.LoginKey = ToolHelper.LoginKey;

            var result = await Http.PostAsJsonAsync<ChangeUserPasswordModel>(ToolHelper.WebApiPath + "api/account/ChangePassword", Model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
            //判断结果
            if (obj.Successful == false)
            {
                await ToastService.Error("修改密码失败", obj.Error);
            }
            else
            {
                await ToastService.Success("修改密码成功", "修改密码成功，请重新登入");
                await AuthService.Logout();

                NavigationManager.NavigateTo("/account/login/" + ReturnUrl);
            }
        }
        catch
        {
            await ToastService.Error("修改密码失败", "发生了未预料的异常，请联系开发人员");
        }
    }

}
