@page "/home/about"



<Title Text="关于我们"></Title>


<div class="">
    <div class="  rounded shadow  bg-opacity pt-4 pb-1 mb-3">
        <div>
            <h2 class="fw-bold text-center">关于我们</h2>
            <p class="text-center ms-3 me-3 mt-2 mb-2" style="color: gray;">
                软件联盟是一个计算机专业的同学一起学习，共同进步的平台，拥有非常好的学习环境。 有学长学姐讲解知识、指引方向、分享经验、带做项目，各成员相互帮助
            </p>
        </div>
    </div>
    <div class="  rounded shadow  bg-opacity  mb-3">
        <Tab>
            <TabItem Text="基本信息" Icon="fa fa-bank">
                <AboutBasicInforTip></AboutBasicInforTip>
            </TabItem>
            <TabItem Text="更新日志" Icon="fa fa-cloud-upload">
               <AboutUpdateInforTip></AboutUpdateInforTip>
            </TabItem>
            <TabItem Text="引用项目" Icon="fa fa-star">
                <AboutQuoteInforTip></AboutQuoteInforTip>
            </TabItem>
        </Tab>
    </div>

</div>

@code {


}
