<div style="display: flex; flex-direction: column;">

    <span class="h5 mb-2 fw-bold">2021年10月1日 第一版完成</span>
    <span>a. 添加文章，用户板块</span>
    <span>b. 添加审核系统</span>
    <span>c. 完成基本界面设计</span>
</div>

@code {

}
